<html>

    <head>
        <title>{{ channel.title }}</title>
        <meta charset='utf-8' />
        <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
        <link rel="stylesheet" href="{{ url_for('static', filename='examples.css') }}">

    </head>

    <body>
        <div id="blog">
            <div id="blog-title">
                <a href = "/">
                    {{ channel.title }}
                </a>
            </div>
            <div id="blog-content">
                {% for content in blog_content %}
                    <div class="blog-post"> 
                        <div class="blog-post-title">
                            <a href="{{ content.source_url }}">{{ content.title }}</a>
                        </div>

                        <div class="blog-post-meta">
                            By {{ content.username }} on {{ content.readable_updated_at }}
                        </div>

                        <div class="blog-post-content">
                            
                            {% if content.block_class == 'image' %}
                            <div class="blog-post-entry-content">
                                <a href="{{ content.image_original }}">
                                    <img src="{{ content.image_display }}" />
                                </a>
                            </div>
                            <div class="blog-post-description">
                                {{ content.description|safe }}
                            </div>
                            {% endif %}

                            {% if content.block_class == 'media'%} 
                                <div class="blog-post-entry-content">
                                    {{ content.embed_html|safe }}
                                </div>
                                <div class="blog-post-description">
                                    {{ content.description|safe }}
                                </div>
                            {% endif %}
                
                            {% if content.block_class == 'link' %}
                                <div class="blog-post-entry-content">
                                    <a href="{{ content.source_url }}">
                                        <img src="{{ content.image_display}}">
                                    </a>
                                    <br />
                                    <a href="{{ content.source_url }}">
                                        {{ content.source_url}}
                                    </a>
                                </div>
                                <div class="blog-post-description">
                                    {{ content.description|safe }}
                                </div>	
                            {% endif %}
                
                            {% if content.block_class == 'text' %}
                                <div class="blog-post-entry-content">
                                    <p>{{ content.content|safe }}</p>
                                </div>
                                <div class="blog-post-description">
                                    {{ content.description|safe }}
                                </div>
                            {% endif %}
                        
                        </div>	
                    
                        {% if content.connections %}
                            <div class="blog-post-connections">
                                {% for connection in content.connections %} 
                            <div class="connection">
                                    {% if connection.channel.title != channel.title %}
                                    + This {{ connection.connectable_type }} is also featured in:                                 
                                    <a target="_blank" href="http://are.na/#{{connection.channel.slug }}">
                                            {{ connection.channel.title }}
                                        </a>
                                    {% endif %}
                            </div>
                            {% endfor %}
                        {% endif %}        
                </div>
            </div>  
            {% endfor %}
        </div>
    </body>
</html>
